#board{
  width: 80vw;
  max-width: 600px;
  height: 80vw;
  max-height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px auto;



  &.win-horizontal-1{
    background: linear-gradient(
      transparent calc(16.6% - 1px),
      #fff calc(16.6%),
      transparent calc(16.6% + 1px)
    );
  }


  &.win-horizontal-2{
    background: linear-gradient(
      transparent calc(50% - 1px),
      #fff calc(50%),
      transparent calc(50% + 1px)
    );
  }


  &.win-horizontal-3{
    background: linear-gradient(
      transparent calc(82.8% - 1px),
      #fff calc(82.8%),
      transparent calc(82.8% + 1px)
    );
  }


  &.win-vertical-1{
    background: linear-gradient(90deg,
      transparent calc(16.6% - 1px),
      #fff calc(16.6%),
      transparent calc(16.6% + 1px)
    );
  }


  &.win-vertical-2{
    background: linear-gradient(90deg,
      transparent calc(50% - 1px),
      #fff calc(50%),
      transparent calc(50% + 1px)
    );
  }


  &.win-vertical-3{
    background: linear-gradient(90deg,
      transparent calc(82.8% - 1px),
      #fff calc(82.8%),
      transparent calc(82.8% + 1px)
    );
  }


  &.win-diagonal-up-down{
    background: linear-gradient(45deg,
    transparent calc(50% - 1px),
    #fff calc(50%),
    transparent calc(50% + 1px)
    );
  }


  &.win-diagonal-down-up{
    background: linear-gradient(135deg,
    transparent calc(50% - 1px),
    #fff calc(50%),
    transparent calc(50% + 1px)
    );
  }
}
